.hero-skills {
	margin-top: 3.2rem;
}
.title-skills {
	text-align: center;
	color: #d4d4d4;
	font-size: 3.2rem;
	margin-bottom: 2.4rem;
}
.container-skills {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.2rem;
}
@media (max-width: 700px) {
	.container-skills {
		grid-template-columns: repeat(2, 1fr);
	}
}
