.about-img {
	max-width: 100%;
	max-height: 100%;
}
.about {
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: 2.4rem;
}
.about-title {
	font-size: 3.2rem;
	color: #fff;
}
.about-text {
	font-size: 2.4rem;
	line-height: 1.5;
	letter-spacing: 0.075px;
	color: #fff;
}
.started {
	justify-self: start;
	background-color: #9b9b9b;
	color: #fff;
	font-size: 2.4rem;
	text-decoration: none;
	padding: 1.2rem 2.4rem;
}
@media (max-width: 700px) {
	.about-img {
		order: -1;
	}
	.about-title {
		text-align: center;
	}
	.started {
		justify-self: center;
		margin: 2.4rem 0;
	}
}
